html {
    scroll-behavior: smooth;
}

*,
*:after,
*:before {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --index: 1vh + 1vw;
    --bkg-color: #10141F;
    --main-text-color: #fff;
    --text-color: #fff;
    --header-bkg-color: rgba(0, 0, 0, 0.3);
    --border-color: rgba(203, 208, 219, 0.2);
    --text-selected: #2765E0;
    --card-border: rgba(255, 255, 255, 0.3);
    --card-bkg: linear-gradient(to bottom, rgba(133, 173, 255, 0.15) 0%, rgba(39, 101, 224, 0.15) 100%);
    --request-bkg: linear-gradient(113.64deg, rgba(133, 173, 255, 0.05) 15.81%, rgba(39, 101, 224, 0.05) 85.39%);
    --card-filter: drop-shadow(0px 4px 20px rgba(40, 51, 74, 0.08)) blur(12px) contrast(1) brightness(0.3);
    --check-color: linear-gradient(to bottom, rgba(133, 173, 255, 0.15) 0%, rgba(39, 101, 224, 0.15) 100%);
    --shapes-blend: hard-light;
    --dark-blue: #fff;
    --section-header: 5.5vh;
    --section-description: 1.4vh
}

*::-webkit-scrollbar {
    width: 0px;
}

*::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
}

*::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #00c6fb, var(--text-selected));
}

a {
    color: var(--text-color);
    font-family: sans-serif;
    cursor: pointer;
}

.selected {
    color: var(--text-selected);
}

.flex {
    display: flex;
}
.w-100 {
    width: 100%;
}
.gap-0 {
    gap: 0px !important;
}

.mtop-30 {
    margin-top: 30px;
}
.mb-30 {
    margin-bottom: 30px;
}
.align-0{
    align-items: unset !important;
}
.column {
    flex-direction: column;
}

.center {
    text-align: center;
}

.minwidth-350 {
    min-width: 350px;
}

.align {
    display: flex;
    align-items: center;
}

.relatives {
    position: relative;
    width: 100%;
}

input:focus {
    outline: none;
}

.mobile {
    display: none;
}

body {
    font-family: sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--bkg-color);
    color: var(--text-color);
}

.container {
    max-width: 1084px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--header-bkg-color);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navbar__logo {
    display: flex;
    align-items: center;
    z-index: 4;
}

.navbar__logo_img {
    width: 284px;
    height: 95px;
}

.navbar__nav-links {
    display: flex;
    align-items: center;
    position: relative;
}

.hamburger-links {
    margin: auto;
    justify-content: center;
    padding-top: 60px;
    gap: 30px;
}

.hamburger-links .register {
    background-color: unset !important;
    border: 1px solid var(--text-selected) !important;
    color: var(--text-selected) !important;
}

.hamburger-links a {
    display: block;
    min-width: 216px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.navbar__link-indents {
    gap: 40px;
}

.navbar__button-indents {
    gap: 20px;
}

.navbar__nav-links_a {
    font-size: 14px;
    display: flex;
    align-items: center;
}

.navbar__nav-links .button {
    background-color: var(--text-selected);
    padding: 15px 38px;
    border-radius: 10px;
    color: var(--main-text-color);
}

.nav-links__darktheme {
    display: flex;
    align-items: center;
    gap: 6px;
}

.darktheme__switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

.darktheme__switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.darktheme__switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1px solid var(--text-selected);
    transition: 0.4s;
}

.darktheme__switch .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 2px;
    background-color: var(--text-selected);
    transition: 0.4s;
}

.darktheme__switch input:checked+.slider:before {
    transform: translateX(14px);
}

.darktheme__switch .slider.round {
    border-radius: 34px;
}

.darktheme__switch .slider.round:before {
    border-radius: 50%;
}

.header__glare-links,
.header__glare-buttons {
    position: absolute;
    top: 0;
    pointer-events: none;
    opacity: 0.5;
}

.header__glare-links {
    left: 0;
}

.header__glare-buttons {
    right: 0;
}

.hamburger-menu {
    display: flex;
}

.section {
    position: relative;
    padding: 60px 0px 140px 0px;
}

.section__content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.section__headers_h1 {
    font-size: var(--section-header);
    letter-spacing: 2px;
    line-height: 1;
    text-align: center;
}

.section__headers_p {
    font-size: var(--section-description);
    padding-top: 10px;
    text-align: center;
}

.section__windows {
    position: relative;
    display: flex;
    padding: 40px 0px;
    gap: 0px;
}

.section__window {
    position: relative;
    justify-content: space-between;
    padding-top: 20px;
    z-index: 1;
}

.section__window .card-1 {
    background-image: url(/assets/window-0.svg);
}

.section__window .card-2 {
    background-image: url(/assets/window-1.svg);
}

.card-1 .card__header,
.card-2 .card__header {
    padding-bottom: 10px;
}

.section__window .card-3,
.section__window .offlinecard-3 {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    width: 740px;
    margin: auto;
    padding: 20px 40px;
    backdrop-filter: blur(10px);
    z-index: 1;
    border: 1px solid var(--card-border);
    border-radius: 16px;
}

.section__window .card-3 {
    background: url(/assets/window-2.svg);
}

.section__window .offlinecard-3 {
    background: url(/assets/windowoffline-2.svg);
}

.cards3 {
    display: none;
}

#online {
    display: block;
}

.window-navbar__offline,
.window-navbar__online {
    cursor: pointer;
}


.window__body_p {
    font-size: 16px;
    font-weight: 100;
    color: var(--text-color);
    padding-top: 20px;
    padding-bottom: 48px;
    padding-left: 5px;
}

.window__setting {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 114px;
}

.window__setting .white {
    display: none;
}


.window__setting_button {
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.window__card {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    text-align: left;
    padding: 40px 35px;
    min-height: 240px;
}

.window__card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    filter: var(--card-filter);
    z-index: -1;
}

.card__headers_h5,
.card__header_h5 {
    font-size: 24px;
}

.card__header_h5 {
    font-weight: 100;
}

.card__column {
    position: relative;
}

.card__input {
    position: relative;
    display: flex;
    border: 1px solid var(--card-border);
    border-radius: 8px;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.card__descriptions {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.card__description_p {
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

.currency__custom-select {
    display: flex;
    align-items: center;
}

.card__logo select {
    font-size: 24px;
    background-color: unset;
    border: unset;
    color: var(--text-color);
    outline: none;
}

.card__logo select:after {
    position: absolute;
    content: "";
    top: 10px;
    right: -8px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: var(--text-color) transparent transparent transparent;
    font-weight: 100;
}

.select-selected {
    background-color: var(--text-selected);
}

.select-selected:after {
    position: absolute;
    content: "";
    background: unset;
    top: 20px;
    right: 10px;
    width: 0%;
    height: 0px;
    border: 6px solid transparent;
    border-color: var(--text-color) transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: unset;
    top: 7px;
}

.select-items div,
.select-selected {
    padding: 0px 18px 0px 8px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
    font-size: 24px;
    background: unset;
    border: unset;
    color: var(--text-color);
}

.select-items {
    position: absolute;
    background-color: var(--text-selected);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.window__navbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
    align-items: center;
}

.window-navbar__text {
    font-size: 16px;
}



.card__transparent-input1,
.card__transparent-input2 {
    width: 100%;
    border: 1px solid var(--card-border);
    border-radius: 8px;
    background: transparent;
    color: var(--text-color);
    margin-top: 20px;
}

.card__transparent-input1 {
    padding: 16px 8px;
    font-size: 24px;
}

.card__transparent-input2 {
    padding: 24px 8px;
    font-size: 16px;
}

.card__transparent-input22 {
    padding: 16px 8px;
    font-size: 16px;
}

.input{
    background: none;
    border: none;
    outline: none;
 }
 input::placeholder {
     color: var(--text-color);
 }

.card__transparent-input1:focus {
    color: var(--text-color);
    font-size: 24px;
}

.card__transparent-input2:focus {
    color: var(--text-color);
    font-size: 16px;
}

.card__loader {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    font-size: 16px;
    border: 3px solid var(--text-selected);
}

.card__inputs,
.card__buttons {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card__column .card__logo {
    position: absolute;
    top: 18px;
    right: 8px;
}

.relatives .card__logo {
    position: absolute;
    bottom: 23px;
    right: 8px;
}

.card__header_bottom {
    padding-top: 48px;
}

.card__link {
    color: var(--text-selected);
}

.card__buttons {
    padding-top: 10px;
}

.card__button {
    background-color: var(--text-selected);
    font-weight: 500;
    font-size: 20px;
    padding: 15px 0px;
    text-align: center;
    border-radius: 8px;
    width: 100%;
    color: var(--main-text-color);
}

.card__buttons .checkbox {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card__buttons .checkbox p {
    font-size: 14px;
}

.checkmark__input {
    position: relative;
    width: 24px;
    height: 24px;
}

.card__buttons .checkbox .checkmark__input input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: #eee;
    border-radius: 4px;
}


.card__buttons .checkbox:hover input~.checkmark {
    background-color: #ccc;
}

.card__buttons .checkbox input:checked~.checkmark {
    background-color: var(--text-selected);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.card__buttons .checkbox input:checked~.checkmark:after {
    display: block;
}

.card__buttons .checkbox .checkmark:after {
    left: 7px;
    top: 2px;
    width: 10px;
    height: 17px;
    border: solid var(--main-text-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.section-1__blur2 {
    left: 35%;
    top: 0;
}

.section-1__blur3 {
    top: 50%;
    bottom: 0;
}

.section-1__blur4 {
    right: 0;
    top: 0;
}

.section-1__blur4,
.section-1__blur5 {
    top: 28%
}

.section__list .section__checked {
    background-color: var(--check-color);
    border-radius: 16px;
}

.section__headers .button-1 {
    background: url(/assets/button-0.svg) no-repeat;
}

.section__headers .button-2 {
    background: url(/assets/button-1.svg) no-repeat;
}

.section__headers .button-3 {
    background: url(/assets/button-2.svg) no-repeat;
}

.section__headers .button-4 {
    background: url(/assets/button-3.svg) no-repeat;
    width: 130px !important
}

.section__headers_button {
    width: 160px;
    height: 33px;
    margin: auto;
    margin-bottom: 10px;
}

.section__headers_button p {
    font-size: 14px;
}

.card-4 {
    background: var(--card-bkg);
    border: 1px solid var(--card-border);
    padding: 25px;
    text-align: center;
    border-radius: 16px;
    width: 100%;
    backdrop-filter: blur(10px);
    z-index: 1;
}

.section__contentrow {
    padding-top: 60px;
    flex-direction: row;
    width: 100%;
    gap: 20px;
}

.section__card_h5 {
    font-size: 32px;
}

.section__list {
    display: flex;
    padding-top: 25px;
    text-align: left;
    justify-content: space-between;
    gap: 3px;
}

.section__list_p {
    text-align: left;
    padding-bottom: 20px;
    font-size: 16px;
}

.section__list_span {
    color: var(--text-selected);
    font-weight: 900;
    font-size: 16px;
    filter: saturate(2) contrast(3) brightness(2);
}

.section__list-group {
    display: flex;
    gap: 24px;
    align-items: baseline;
}

.section-2__blur1 {
    left: 30%;
    top: 0;
}

.section-2__blur2 {
    left: 0;
    top: 0;
}

.section-2__blur3 {
    left: 0;
    bottom: 0;
}

.section-2__blur4 {
    left: 30%;
    bottom: 0;
}

.section__desciption {
    padding-top: 50px;
}

.section__desciption_h6 {
    font-size: 24px;
}

.section__desciption_p {
    font-size: 16px;
    padding-top: 20px;
    line-height: 120%;
}

.section__desciption-address_p {
    font-size: 1.7vh
}

.section__lists-update {
    display: flex;
    gap: 20px;
}

.section__list-update {
    position: relative;
    padding: 25px;
    flex-direction: column;
    justify-content: unset;
    border: 1px solid var(--card-border);
    border-radius: 16px;
    backdrop-filter: blur(10px);
    z-index: 1;
}

.section__list-update img {
    filter: saturate(2) contrast(3) brightness(2);
}

.section__desciption_ul {
    padding: 15px;
}

.section__desciption_ul li {
    padding: 0px;
}

.section-3__blur1 {
    left: 30%;
    top: 0;
}

.section-3__blur2 {
    right: 0;
    bottom: 0;
}

.section-3__blur3 {
    left: 0;
    bottom: 0;
}

.section__card_h5-update {
    font-size: 24px;
    font-weight: 100;
}

.section__desciption_p-update {
    font-size: 16px;
    line-height: 120%;
}

.section__list_icon {
    margin-left: auto;
}

.section__desciption-update {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    height: 100%;
}

.section__desciption_date {
    font-size: 14px;
    padding-top: 25px;
    margin-top: auto;
}

.section-4__blur6 {
    right: 30%;
    left: 30%;
    top: 0;
}

.section-4__blur5 {
    bottom: -20%;
    left: 10%;
}

.section-4__blur4 {
    bottom: -30%;
    right: 10%;

}

.section-4__blur3 {
    left: 0;
    bottom: 0;
}

.section-4__blur2 {
    bottom: 0;
    right: 0;

}

.section-4__blur1 {
    top: 0;
    right: 0;
}

.section__desciption-address {
    display: flex;
    gap: 30px;
    padding-top: 30px;
    align-items: center;
}

.card__button-update {
    background: unset;
    border: 1px solid var(--text-selected);
    margin-top: 60px;
    width: 80%;
    margin: 60px auto;
    font-size: 20px;
}

.section-5__blur1 {
    top: 0;
    right: 0;
    left: 0;
}

.section-5__blur2 {
    top: -23em;
    right: 0;
}

.section-5__blur3 {
    top: -23em;
    left: 0;
}

.footer__blur {
    display: none;
}

.footer {
    position: relative;
    padding: 60px 0;
    border-top: 1px solid var(--border-color);
}

.footer__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer__information_p {
    font-size: 14px;
    font-weight: 100;
    padding-top: 25px;
    line-height: 30px;
}

.footer__information_p span {
    padding-top: 10px;
}

.footer__information_a {
    font-size: 14px;
    color: var(--text-selected) !important;
    text-decoration: underline;
    line-height: 30px;
}

.footer__information-texts {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.footer__links {
    display: flex;
    gap: 30px;
}

.footer__navlinks {
    flex-direction: column;
    display: flex;
}

.footer__navlinks_a {
    font-size: 16px;
    padding-bottom: 20px;
}

.footer__navlink-button a {
    padding: 15px 100px;
}

.shape-1 {
    background-image: url(/assets/shape-1.svg);
    top: 0;
    left: 0;
}

.shape-2 {
    background-image: url(/assets/shape-2.svg);
    bottom: 0;
    right: 0;
    top: 25em;
    width: 40vh;
    background-position: right;
}

.shape-3 {
    background-image: url(/assets/shape-3.svg);
    bottom: 0;
    left: -180px;
}

.shape-4 {
    background-image: url(/assets/shape-4.svg);
    right: 0;
    top: 360px;
}

.shapes {
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    max-width: 550px;
    mix-blend-mode: var(--shapes-blend);
    opacity: 1;
}

.section__blurs {
    position: absolute;
    opacity: 0.7;
}

#menu__toggle {
    opacity: 0;
}

#menu__toggle:checked+.menu__btn {
    background-color: unset;
}

#menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: var(--text-selected);
}

#menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: var(--text-selected);
}

#menu__toggle:checked~.menu__box {
    top: 0;
    transform: translateY(0);
}

.menu__btn {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(39, 101, 224, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 4;
}

.menu__btn>span {
    position: relative;
    display: block;
    width: 18.75px;
    height: 1px;
    background-color: var(--dark-blue);
    transition-duration: .25s;
}

.menu__btn>span::before,
.menu__btn>span::after {
    content: '';
    position: absolute;
    width: 18.75px;
    height: 1px;
    background-color: var(--dark-blue);
    transition-duration: .25s;
}

.menu__btn>span::before {
    top: -8px;
}

.menu__btn>span::after {
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 140px 0px;
    list-style: none;
    background-color: #10141F;
    transition-duration: .25s;
    transition-property: top;
    text-align: center;
    z-index: 3;
}

.menu__item {
    display: block;
    padding-top: 40px;
    color: var(--text-color);
    font-size: 24px;
    font-weight: 100;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    background-color: unset;
}

/*Login-------------------------------------------------------------------------------->*/

.section-link {
    font-size: 20px;
    margin-right: auto;
    margin-top: 20px;
    text-decoration: underline;
}

.card__logo-loginp {
    position: absolute;
    right: 21px;
    bottom: 20px;
}

.card__logo-logine {
    position: absolute;
    bottom: 15px;
    right: 21px;
}


.relatives-login {
    padding-top: 20px;
}
.relatives-selected {
    color: var(--text-selected);
}
.link-register {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}

.card__buttons-register {
    padding-top: 33px;
}
.require-password {
    padding-top: 5px;
    font-size: 12px;
    font-weight: 100;
    color: #CBD0DB;
}

.card__headers_desc {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}
.card__button-modal {
    width: 100%;
    display: flex;
    justify-content: center;
}
.modal-close {
    margin-right: auto;
    width: 100%;
    display: flex;
    justify-content: right;
    padding-bottom: 30px;
}

@media only screen and (min-width: 1920px) {
    .container {
        max-width: 1300px;
    }
}

@media only screen and (max-width: 1100px) {
    .container {
        max-width: 950px;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        max-width: 688px;
    }

    .header {
        padding: 20px;
    }

    .hamburger {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    .hamburger-menu input[type="checkbox"]:checked~ {
        display: none;
    }

    .navbar__logo img {
        height: 80px;
        width: 237px;
    }

    .navbar__link-indents,
    .navbar__button-indents,
    .nav-links__darktheme {
        display: none;
    }

    .section {
        padding: 35px 0px 115px;
    }

    .section__windows {
        gap: 15px;
    }

    .section__headers_h1 {
        font-size: 48px;
    }

    .section__contentrow {
        flex-direction: column;
    }

    .section__lists-update {
        flex-wrap: wrap;
    }

    .section__list-update {
        flex: 0 1 calc(50% - 20px);
    }

    .section__lists-update #element-1 {
        flex: 0 0 97.5%;
    }

    #element-1 .section__desciption_h6 br,
    #element-1 .section__desciption_p br {
        display: none;
    }

    .footer {
        padding: 40px 0px;
    }

    .footer__information img {
        width: 284px;
        height: 93px;
    }

    .footer__links {
        flex-direction: column;
    }

    .footer__navlinks_a {
        padding-bottom: 10px;
    }

    .footer__information-texts {
        flex-direction: column;
        align-items: unset;
        padding-top: 0px;
    }

    .footer__content {
        align-items: center;
        align-items: end;
    }

    .card__button-footer {
        padding: 15px 60px;
    }

    .footer-pcbutton {
        display: none;
    }

    .footer-mbbutton {
        display: block;
    }

    .shapes {
        height: 90vh;
        opacity: 0.7;
    }

    .shape-2 {
        width: 45vh;
    }

    .section-2__blur1 {
        left: 10%;
    }
}

@media only screen and (min-width: 901px) {
    .hamburger {
        display: none;
    }

    .footer-pcbutton {
        display: block;
    }

    .footer-mbbutton {
        display: none;
    }

    .pc {
        display: block;
    }

    .mobile {
        display: none;
    }
}

@media only screen and (max-width: 431px) {
    :root {
        --section-description: 14px;
    }

    .container {
        max-width: 388px;
    }
    .section__window .card-3,
    .section__window .offlinecard-3 {
        max-width: 388px;
    }
    .card-1 .card__header .card__headers_h5, .card-2 .card__header .card__headers_h5{
        text-align: left;
    }
    .card-1 .card__column input, .card-2 .card__column input{
        font-size: 16px;
        padding: 10px;
    }
    .card__logo select {font-size: 16px;}
    .card__column .card__logo{top: 8px;}
    .navbar__nav-links .button {
        padding: 10.5px 28.5px;
    }

    .navbar__logo img {
        width: 137px;
        height: 46px;
    }

    .hamburger {
        gap: 0px;
    }

    .menu__btn {
        width: 40px;
        height: 40px;
    }

    .menu__btn>span {
        width: 15px;
    }

    .menu__btn>span::before,
    .menu__btn>span::after {
        width: 15px;
    }

    .menu__btn>span::before {
        top: -6px;
    }

    .menu__btn>span::after {
        top: 6px;
    }

    .menu__box {
        padding: 126px 0px;
    }

    .menu__item {
        padding-top: 20px;
        font-size: 16px;
    }

    .hamburger-links {
        padding-top: 100px;
        flex-direction: column;
        gap: 20px;
    }

    .hamburger-links a {
        width: 80%;
        padding: 17px 0px !important;
        font-size: 16px;
    }

    /*header*/
    .section__windows {
        padding: 50px 0px;
        flex-direction: column;
    }

    .card__loader {
        font-size: 12px;
        width: 30px;
        height: 30px;
        border: 2px solid var(--text-selected);
    }

    .relatives .card__logo {
        bottom: 20px;
    }

    .card__headers_h5 {
        padding-bottom: 20px;
    }

    .card__buttons {
        padding-top: 20px;
    }

    .card__transparent-input2 {
        padding: 21px 8px;
    }

    .card__inputs {
        flex-direction: column;
        gap: 0px;
    }

    .card__buttons {
        flex-direction: column;
    }

    .card__transparent-input1,
    .card__transparent-input2 {
        margin-top: 10px;
    }

    .window__card {
        padding: 35px !important;
        text-align: center;
        border-radius: 16px;
        width: 100%;
        backdrop-filter: blur(10px);
        z-index: 1;
        min-height: auto;
    }

    .section__window {
        padding-top: 0px;
    }

    .window__setting {
        bottom: 218px;
        z-index: 2;
    }

    .window__setting_button img {
        width: 70px;
        height: 70px;
    }

    .cards3 .window__navbar {
        padding: 0px 25px;
    }
    .cards3 {
        padding: 25px !important;
    }

    .section__lists {
        padding-top: 25px;
    }

    .section__desciption {
        padding-top: 40px;
    }

    .section__desciption_h6,
    .section__card_h5,
    .card__headers_h5,
    .card__header_h5 {
        font-size: 20px;
    }

    .section__contentrow {
        padding-top: 50px;
    }

    .section__desciption_p-update br,
    .section__desciption_p br,
    .section__desciption_h6 br,
    .section__desciption_h6 span br {
        display: none;
    }

    .section__desciption_p-update,
    .section__desciption_p,
    .section__desciption-address_p,
    .section__desciption_ul li,
    .section__list_p,
    .card__transparent-input2,
    .card__transparent-input1 {
        line-height: 120%;
        font-size: 14px;
    }

    .section__list-update {
        flex: 0 0 97.5%;
    }

    .card__button-update {
        margin: 50px auto;
        width: 100%;
    }

    .section__headers_h1 {
        font-size: 32px;
        font-weight: bold;
        line-height: 120%;
        letter-spacing: 0;
    }

    .footer {
        padding: 50px 0px;
    }

    .footer__newlinks {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: end;
        padding-top: 20px;
    }

    .footer__links {
        width: 100%;
    }

    .footer__content {
        flex-direction: column;
    }

    .footer__information {
        margin: auto;
    }

    .mobile {
        display: block;
    }

    .pc {
        display: none;
    }
    .relatives-login {
        padding-top: 0px;
    }
    .shapes, .section__blurs {
        display: none;
    }
    .card__headers_desc {
        font-size: 16px;
        padding-top: 0px;
    }
    .card__headers_desc br {
        display: none;
    }
}
@media only screen and (max-width: 390px) {
    .container {max-width: 360px;}
    .section__window .card-3,
    .section__window .offlinecard-3 {
        max-width: 360px;
    }
}
@media only screen and (max-width: 375px) {
    .container {max-width: 330px;}
    .section__window .card-3,
    .section__window .offlinecard-3 {
        max-width: 330px;
    }
}

